{% extends 'base.html.twig' %}

{% block body%}
    <div style="border: 2px solid #9b9b9b; padding: 3px ; background-color: #9B9B9B; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;">
    <form>
        <fieldset>
            <div class="form">
                <label for="exampleInputNom">Nom</label>
                <input type="Nom" class="form-control" id="exampleInputNom">
                <label for="exampleInputPrenom">Prénom</label>
                <input type="Prenom" class="form-control" id="exampleInputPrenom">
                <label for="exampleInputAge">Age</label>
                <input type="Age" class="form-control" id="exampleInputAge">
            </div>
        </fieldset>
    </form>
    </div>

{% endblock %}